@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}
*{   
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-cyan);
    background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-size: 18px;

}
.card-container{
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.card-superior{
    background-image: url(./images/bg-pattern-card.svg);
    height: 140px;
    
}
.image{
    position: absolute;
    top: 87px;
    left: 35%;    
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.card-central{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}
span.nombre{
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
.edad, .city{
    color: var(--Dark-grayish-blue);
}
.city{
    margin-top: 10px;
    font-size: 0.8em;
}
.card-inferior{
    border-top: 1px solid var(--Dark-gray);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}
.inferior{
    text-align: center;
}
.valor{
    
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 10px;
}
.unid{
    font-size: 0.6em;
    letter-spacing: 2px;
    color:var(--Dark-gray);
}


.attribution {  
    font-size: 11px;
    text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width:1440px){
    .card-container{
        width: 350px;
    }
}